# Logs
logs
*.log

# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Build outputs
dist/
build/
server/dist/
client/dist/

# Env files
.env
.env.local
server/.env
client/.env

# System / Editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
